.zoom{
    height: 200px !important;
    transition: transform .2s !important;
    padding: 20px;
}
.zoom:hover{
    transform: scale(1.1) !important;
}
.row {margin: 0 ;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.column {
    float: left;
    /* width: 25%; */
    padding: 0 10px;
    margin-top: 40px !important;
  }
  .cards{
      text-decoration: none !important;
      color:black !important; 
  }
  .cardsDetails{
      font-size: 13px !important;
      padding-left:20px;
      padding-right:20px;
      

  }
  
  .cardsTitle{
      margin-top: 10px !important;
      font-weight: 700 !important;
      font-size: 17px !important;
      padding-left:20px;
  }
  .cardsBorder{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    
    
  }
  .cardsBorder:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .cardsButton{
      background-color:#e22335 !important;
      color:white !important;
      margin-bottom: 20px !important;



      
  }
  .ButtonPadding{
      padding-left: 20px ;
  }
  .listRes{
      display: flex;
      justify-content: center;
      font-size: 30px !important;
      padding: 30px;
      color: #e22335;
      font-weight: 400 !important;
  }