.ListLinks{
    text-decoration: none !important;
    color: black !important;
}
.profile{
    color:#f7f9fc !important;
    margin-left: -35px !important;
    padding-top:5px !important;
    text-decoration: none !important;
    font-weight: 500 !important;
    font-size: 20px !important;
  
}